# Fichiers d'environnement
.env

.aider*
**/cline_docs/

# Environnements virtuels Python
/venv
__pycache__/
/*.py[cod]

# Visual Studio Code related
.classpath
.project
.settings/
.vscode/*
.ccls-cache

# Flutter related
.gradle/
**/ios/
**/android/
**/macos/
**/linux/
**/web/
**/windows/
**/test/
**/build/
**/.idea/
**/.dart_tool/


devtools_options.yaml
**/pubspec.lock
.flutter-plugins
.flutter-plugins-dependencies
.metadata
analysis_options.yaml
devtools_options.yaml
frontend.iml
pubspec.lock

ai_brainstorming.db

# Mac
.DS_Store

